body {
    font-family: 'Open Sans';
}

.title{
    text-align: center;
    font-size: 40px;
}

.mainContainer {
    margin-top: 25px;
    font-size: 30px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.display {
    vertical-align: middle;
}

.status {
    color: red;
    vertical-align: middle;
}