<head>

<LINK href="/css/interface.css" rel="stylesheet" type="text/css" />
<LINK href="/css/flat-ui.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/js/interface.js"></script>
<script type="text/javascript" src="/js/arest.js"></script>


</script>

</head>

<body>

<div class="title">WiFi Weather Station</div>

<div class="mainContainer">

        <div class="display" id="tempDisplay">Temperature: </div>
        <div class="display" id="humDisplay">Humidity: </div>
        <div class="status" id="status">Offline</div>

</div>
</body>