doctype
html
  head
    title Dashboard
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet', href="/css/demo.css")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="/js/demo.js")
    script(src="/js/ajaxq.js")
  body
    .container
      h1 WiFi Weather Station
      .row.voffset30.text30
        .col-md-3
          div#temperature Temperature:
        .col-md-3
          div#humidity Humidity:
        .col-md-3
          div#status Status